<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户系统 -->
<mapper namespace="com.bzh.floodserver.mapper.StcdDao">
    <select id="getStcd" resultType="com.bzh.floodserver.model.Stcd">
		SELECT STCD,STNM,LGTD,LTTD,STLC,STTP FROM ST_STBPRP_B
	</select>

    <insert id="addUserStcd">
        INSERT into user_stcd(id,STCD) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
                (#{id},#{item})
        </foreach>
    </insert>


    <select id="selectById" resultType="String">
		SELECT stcd  FROM user_stcd where id=#{id}
	</select>


    <select id="selectSSA" resultType="com.bzh.floodserver.model.user.Station">
		select ADNM,STCD,STNM from ST_STBPRP_B as b
        INNER JOIN DJ_AD as ad on b.ADDVCD=ad.ADCD
	</select>

    <delete id="deleteById" >
          delete from user_stcd where id=#{id}
    </delete>

</mapper>
