<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户系统 -->
<mapper namespace="com.bzh.floodserver.mapper.UserMapper">
    <select id="getPassword" resultType="String">
		SELECT password FROM  [user] where username=#{username}
	</select>
    <select id="getRole" resultType="String">
		SELECT authorities FROM  [user] where username=#{username}
	</select>

	<select id="getUserId" resultType="Integer">
		SELECT id FROM  [user] where username=#{username}
	</select>


</mapper>
